<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Cliente</title>
</head>
<body>

    <div class="container lg">
        <h1 class="fw-bold my-3">
            Detalhes do Cliente
        </h1>
        <table class="table">
           <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data-Nascimento</th>
                    <th>Profissao</th>
                    <th>Detalhes</th>
                </tr>
           </thead>
           <tbody>
               <tr>
                  <td th:text="${cliente.nome}"></td>
                  <td th:text="${cliente.dataNascimento}"></td>
                  <td th:text="${cliente.profissao}"></td>
                  <td>
                    <textarea class="form-floating w-100" name="" id="">
                            Estado Civil: Casado
                    </textarea>
                  </td>
               </tr>
           </tbody>

        </table>

        
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>