<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Clientes</title>
</head>
<body>

    <div class="container lg">
        <h1 class="fw-bold my-4">CLIENTES</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Data-Nascimento</th>
                <th scope="col">Profissão</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cliente : ${clientes}">
                <th th:text="${cliente.id}" scope="row">1</th>
                <td>
                  <a th:text="${cliente.nome}" th:href="@{'/home/' + ${cliente.id} + '/cliente'}"></a>
                </td>
                <td th:text="${cliente.dataNascimento}">Otto</td>
                <td th:text="${cliente.profissao}">@mdo</td>
                <td>
                    <a th:href="@{'/home/' + ${cliente.id} + '/cliente/editar'}" class="btn btn-warning">EDITAR</a>
                    <a 
                          th:href="@{'/home/' + ${cliente.id} + '/cliente/apagar'}" 
                          class="btn btn-danger"
                          onclick="return confirm('Tem a certeza que deseja apagar?')"
                          >APAGAR</a>
                </td>
            </tbody>
          </table>
              <a th:href="@{/home/cadastrar}" class="btn btn-primary">Adicionar Cliente</a>
          
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>